# Soc specific configuration
# cortex-m
choice
    prompt "The cortex-m irq priority bits"
    default IRQ_PRIORITY_BITS_2
    help
      Choose between 2, 3 or 8 for the cortex-m irq priority bits.
    config IRQ_PRIORITY_BITS_2
        bool "2"
        help
          Set irq priority bits to 2.
    config IRQ_PRIORITY_BITS_3
        bool "3"
        help
          Set irq priority bits to 3.
    config IRQ_PRIORITY_BITS_8
        bool "8"
        help
          Set irq priority bits to 8.
endchoice

config LCD
    bool "Enable LCD device"
    default n
    help
      Enable LCD module

config FT6336U
    bool "Enable touch screen device"
    default n
    help
      Enable touch screen

config GPIO
    bool "Enable gpio device"
    default n
    help
      Enable gpio device

if LCD

  choice
    prompt "LCD controller"
    default ST7789

    config ST7789
        bool "Enable LCD ST7789"
        help
          Enable the ST7789 LCD controller.

    config ST7796
        bool "Enable LCD ST7796"
        help
          Enable the ST7796 LCD controller.
  endchoice

endif

config MAX7219
    bool "MAX7219 LED Matrix"
    default n
    select SPI_CORE
    select USE_EMBEDDED_HAL_V1
    help
      Enable the MAX7219 LED matrix controller.

config BME280
    bool "BME280 Sensor"
    default n
    help
      Enable BME280

config USE_EMBEDDED_HAL_V1
    bool "Impl embedded-hal-1.0.0 for driver"
    default y
    help
      Impl embedded-hal-1.0.0 for driver

config SOC_ESP32C3
    bool "Esp32c3"
    default y
    select RISCV
    select I2C_CORE

config NUM_IRQS
    default 31
