# CONFIG_IRQ_PRIORITY_BITS_3 is not set
CONFIG_IRQ_PRIORITY_BITS_2=y
CONFIG_ALIGN_SIZE=8
CONFIG_TICKS_PER_SECOND=100
CONFIG_SMP=n
CONFIG_NUM_CORES=1
CONFIG_ALLOCATOR_TLSF=y
CONFIG_ALLOCATOR="tlsf"
CONFIG_USE_KERNEL_BOOT=y
#
# Kernel Core Features
#
CONFIG_SOFT_TIMER=y
CONFIG_EVENT_FLAGS=y
CONFIG_ROUND_ROBIN=n
CONFIG_ROBIN_SLICE=10
CONFIG_OVERFLOW_CHECK=y
CONFIG_STACK_HIGHWATER_CHECK=y
CONFIG_MAIN_THREAD_STACK_SIZE=12288
CONFIG_IDLE_THREAD_STACK_SIZE=2048
CONFIG_TIMER_THREAD_STACK_SIZE=2048
CONFIG_THREAD_PRIORITY=y
CONFIG_THREAD_PRIORITY_32=y
CONFIG_THREAD_PRIORITY_MAX=32
CONFIG_MAIN_THREAD_PRIORITY=32

CONFIG_ENABLE_SYSCALL=y
# CONFIG_FDT is not set
# CONFIG_VIRTIO is not set
CONFIG_SERIAL_RX_FIFO_SIZE=256
CONFIG_SERIAL_TX_FIFO_SIZE=256
CONFIG_ENABLE_VFS=y
CONFIG_ENABLE_NET=n
CONFIG_PROCFS=n
CONFIG_UNITTEST_THREAD_NUM=16
CONFIG_LOG_LEVEL_DEBUG=y
